* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

$gc: #007e6f;
body {
    background-color: #efefef;
    padding-bottom: 25px;
}
a {
    text-decoration: none;
}
.flex-align {
    display: flex;
    align-items: center;
}
.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
    background-color: transparent;
    background: transparent;
    border: none;
    &:focus {
        outline: none;
    }
}
.text-22 {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    color: #000000;
    margin-bottom: 12px;
}
.text-normal {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
    b {
        margin-right: 10px;
    }
}

.box-10 {
    padding: 10px 0px;
    border-bottom: 1px solid #efefef;
}
.mb-10 {
    margin-bottom: 10px;
}
.container-full {
    padding: 0px 25px;
}
.admin-content {
    padding-top: 62px;
    padding-left: 70px;
}
.mt-35 {
    margin-top: 35px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mt-24 {
    margin-top: 24px;
}
.text-bold {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 22px;
    color: #000000;
}
.with-icon {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 22px;
    color: rgba(0, 126, 111, 0.8);
    display: flex;
    align-items: center;
    svg {
        margin-right: 12px;
    }
}
.text-light {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.8);
}
.card-box {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    // height: 100%;
}
.h-100 {
    height: 100%;
}
.card-row {
    margin: 0px -12px;
    display: flex;
    flex-wrap: wrap;
}
.item-2,
.item-3,
.item-4,
.item-5,
.item-7,
.item-6,
.item-8,
.item-9,
.item-10 {
    padding: 0px 12px;
}

.item-2 {
    width: calc(100% / 6);
}

.item-3 {
    width: 25%;
}

.item-4 {
    width: calc(100% / 3);
}

.item-5 {
    width: calc((100% / 12) * 5);
}

.item-7 {
    width: calc((100% / 12) * 7);
}

.item-8 {
    width: calc((100% / 3) * 2);
}

.item-6 {
    width: 50%;
}

.item-9 {
    width: 75%;
}

.item-10 {
    width: calc((100% / 6) * 5);
}
.table-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: #005a9a;
}
table {
    border-collapse: collapse;
}
div.table-all {
    table {
        width: 100%;
        .a-right {
            text-align: right;
        }
        thead {
            th {
                color: #004c43;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 30px;
                padding: 15px 13px;
                text-align: left;
                background: rgba(0, 126, 111, 0.1);
            }
        }
        tbody {
            td {
                font-weight: normal;
                font-size: 15px;
                line-height: 30px;
                padding: 15px 13px;

                color: #000000;
            }
            td.light-td {
                font-weight: normal;
                font-size: 15px;
                line-height: 30px;
                color: rgba(0, 0, 0, 0.6);
            }
            tr:nth-child(2n) {
                td {
                    background: rgba(0, 126, 111, 0.03);
                }
            }
            tr:hover {
                td {
                    background: rgba(0, 126, 111, 0.05);
                }
            }
        }
    }
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #262e2d;
    border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
    background: #262e2d;
}
